/* General Styles */
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

a {
    text-decoration: none;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 120px;
    height: auto;
}

.header-content {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

header nav a {
    color: #000000;
    font-weight: 600;
    transition: color 0.3s ease;
}

header nav a.active, header nav a:hover {
    color: #007BFF;
}

/* Profile Menu */
.profile-menu {
    position: relative;
}

.profile-menu img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    z-index: 100;
}

.sub-menu-wrap.open-menu {
    max-height: 500px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link:hover p {
    font-weight: 600;
}

/* Welcome Section */
.welcome-user {
    text-align: center;
    margin: 20px 0;
}

.welcome-user h1 {
    font-size: 2.5rem;
    color: #333;
}

.welcome-user p {
    font-size: 1rem;
    color: #555;
}

/* Add Item Form */
#add-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#add-item h2 {
    margin-bottom: 20px;
}

#add-item input, #add-item textarea, #add-item select, #add-item button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

#add-item button {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#add-item button:hover {
    background-color: #0056b3;
}

/* Catalog Section */
#catalog {
    margin: 40px auto;
    max-width: 1000px;
    text-align: center;
}

.catalog-category {
    margin-bottom: 40px;
}

.catalog-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.catalog-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
