/* General Body Styling */
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #222831;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 120px;
    height: auto;
}

header h1 {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 2rem;
    color: #f4f7f6;
    margin: 0;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    color: #f4f7f6;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #00adb5;
}

/* Main Content Styling */
main {
    background-image: url(../images/b3.jpg);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Table Styling */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    width: 100%;
    max-width: 1100px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.content-table thead {
    background-color: #393e46;
    color: #ffffff;
}

.content-table th,
.content-table td {
    padding: 15px;
    text-align: center;
}

.content-table th {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.content-table tbody tr {
    border-bottom: 1px solid #eeeeee;
    transition: background-color 0.3s ease;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #0c8f7d;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #0a9196;
}

.content-table tbody tr:hover {
    background-color: #058488;

}

.content-table tbody tr:last-of-type {
    border-bottom: 3px solid #00adb5;
}

/* Button Styling in Table */
.content-table button {
    background-color: #fc0000;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.content-table button:hover {
    background-color: #5c0303;
    transform: scale(1.05);
}

/* Accessibility Tools */
header #accessibility-tools button {
    background-color: #00adb5;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header #accessibility-tools button:hover {
    background-color: #007c8c;
}
.content-table img {
    border-radius: 50%; /* Optional for circular icons */
    display: block;
    margin: 0 auto;
  }